includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    paths:
        - app
    bootstrapFiles:
        - vendor/autoload.php
        - _ide_helper_models.php
    level: 5
    reportUnmatchedIgnoredErrors: false
